# file này để chứa list danh sách các file ko được up lên github

# virtual environment
venv/
.venv/
env/
.env/
# chứa cấu hình URI, API_KEY,... quan trọng ko bao giờ được up lên public

# Editor/IDE files
.vscode/
.idea/

# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/